# ===============================
# Visual Studio
# ===============================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ===============================
# Build results
# ===============================
bin/
obj/

# ===============================
# ASP.NET
# ===============================
*.Publish.xml
*.pubxml
*.pubxml.user
*.pfx

# ===============================
# Logs & cache
# ===============================
*.log
*.cache

# ===============================
# OS
# ===============================
Thumbs.db
.DS_Store

# ===============================
# Node (nếu có)
# ===============================
node_modules/

# ===============================
# SQL Server
# ===============================
*.mdf
*.ldf
/TCTVocabulary/wwwroot/images/classes
